@font-face {
    font-family: 'dynomite';
    src: url('./DYNOMITE.TTF');
}

@font-face {
    font-family: 'ktf-roadbrush';
    src: url('./KTF-Roadbrush.ttf');
}

@font-face {
    font-family: 'back to back';
    src: url('./Back-to-Black.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('./Roboto-Regular.ttf');
}

@font-face {
    font-family: 'norse-bold';
    src: url('./Norse-Bold.otf');
}

:root {
    --bg-clr: #ffe31c;
    --text-clr: #363e92;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 20px;
    background: linear-gradient(#09396a, #104172, #1d4f82, #295b8f, #32649b, #3a6da5, #4e78ac, #558ac4);
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.heading {
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
}

.logo, nav {
    display: flex;
}

.logo {
    justify-content: center;
}

.heading>div {
    font-weight: normal;
    font-family: 'dynomite';
    font-size: 2.5rem;
    color: var(--text-clr);
    text-align: center;
}

nav {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    gap: 15px;
}

nav>button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-family: 'ktf-roadbrush';
    background-color: #fc5f1c;
    color: #fff;

}

nav>button:hover {
    background-color: #650000;
}

nav>button:active {
    background-color: #650000;
}

#content {
    background: linear-gradient(#9f2701, #a02700, #b42901, #bf2f01);
    border-radius: 20px;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.card-heading {
    justify-self: center;
    font-family: 'back to back';
    font-size: 2rem;
    color: #fff;
}

.card {
    display: grid;
    gap: 30px;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;
}

.card * {
    color: var(--text-clr);
}

.inner-card {
    display: grid;
    gap: 15px;
}

.two-column {
    grid-template-columns: min-content 1fr;
}

ul {
    padding-left: 25px;
    display: grid;
    gap: 10px;
}

.inner-card img {
    width: 75px;
    height: 75px;
}

footer {
    background-color: var(--bg-clr);
    padding: 15px;
    border-radius: 8px;
}

footer p {
    font-size: 1.3rem;
    font-family: 'norse-bold';
}

a {
    font-style: italic;
    color: #650000;
    display: inline-flex;
    gap: 10px;
}

a img {
    align-self: center;
}